div.container-fecha{
    p {
        margin: 0px;
        font-weight: bold;
        &.fecha-dia-semana{
            font-size: 1rem;
        }
        &.fecha-dia-mes{
            font-size: 1.5rem;
        }
    }
}


div.datos-resumen {
    p.label{
        font-size: 0.9rem;
    }
    p.value {
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.floating-button {
    position: fixed;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; 
    z-index: 1000;
    
}
